page-about {
    .bgAbout{
        background-image: url('../../assets/imgs/UMN-Building.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 80%;
        height: 246px;
        margin: auto;
        z-index: 2;
        position: relative;
    }

    h1{
        text-align: center;
    }
}
