<ion-header>
  <!-- <ion-content class="bgAbout" padding class="UMN-Building"></ion-content> -->
  <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-img style="width: 374px; height: 141px; background-color: transparent" src="../../assets/imgs/PocketMart.png"></ion-img>
  <ion-list>
    <ion-item text-wrap no-padding>
      <ion-grid no-padding>
        <h1 style="margin-bottom: 2%; margin-left: 3.5%">Developer Team</h1>
        <ion-row center >
          <ion-col style="text-align: center; margin-left: 3%" no-padding >
              <!-- <ion-img style="width: 150px; height: 150px;" src="https://lh3.googleusercontent.com/-jij-5lo5GtE/AAAAAAAAAAI/AAAAAAAAAPQ/DBE7K1314DA/s640-il/photo.jpg"></ion-img> -->
              <ion-icon name='person'></ion-icon>
              <h2>Akino Archilles</h2>
              <h3>00000010631</h3>
          </ion-col>
          <ion-col width-90 style="text-align: center;" no-padding>
              <!-- <ion-img style="width: 150px; height: 150px;" src="https://pbs.twimg.com/profile_images/460388481026367488/hRruBYol.jpeg"></ion-img> -->
              <ion-icon name='person'></ion-icon>
              <h2>Joshia Putra</h2>
              <h3>00000011243</h3>
          </ion-col>
        </ion-row>
        <ion-row center>
          <ion-col style="text-align: center; margin-left: 3%" no-padding >
              <!-- <ion-img style="width: 150px; height: 150px;" src="https://t3.ftcdn.net/jpg/01/33/58/86/240_F_133588679_squ7iWz2Ez7V2qSVsSf5DeANLz5y7vGp.jpg"></ion-img> -->
              <br>
              <ion-icon name='person'></ion-icon>
              <h2>Steven Wijaya</h2>
              <h3>00000010953</h3>
          </ion-col>
          <ion-col style="text-align: center; margin-left: 3%" no-padding >
              <!-- <ion-img style="width: 150px; height: 150px;" src="https://pbs.twimg.com/profile_images/775026010987245568/GVIA8GVw_400x400.jpg"></ion-img> -->
              <br>
              <ion-icon name='person'></ion-icon>
              <h2>Ricky Maulana</h2>
              <h3>00000011482</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  <p style="text-align: center">© PocketMart</p>
  </ion-list>
</ion-content>