<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="userAuth" (ngSubmit)="login(userAuth)">
    <ion-list>
      <ion-item>
        <ion-label color="dark" fixed>Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="e.g. example@example.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" fixed>Password</ion-label>
        <ion-input formControlName="pwd" type="password" placeholder="e.g. 54y4Bok3k"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button full type="submit" color="primary" [disabled]="!userAuth.valid">Login</button>
  </form>
  <p padding-top text-center>Don't have an account yet?</p>
  <button ion-button outline block color="secondary" (click)="noAccount()">Register</button>
</ion-content>
