<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
    <button ion-button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="userAuth" (ngSubmit)="register(userAuth)">
    <ion-list>
      <ion-item>
        <ion-label color="dark" fixed>Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="e.g. example@example.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark" fixed>Password</ion-label>
        <ion-input formControlName="pwd" type="password" placeholder="e.g. 54y4Bok3k"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button full type="submit" color="primary" [disabled]="!userAuth.valid">Register</button>
  </form>
</ion-content>
