<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-buttons end>
      <button ion-button (click)="scan()">
        <ion-icon name="barcode"></ion-icon>        
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides class="bg-image no-scroll" pager noPadding autoplay="2000" loop="true" style="height: 200px;">
  <!-- <ion-slide *ngFor="let image of images">
      <img src={{image.img_name}} > -->
    <ion-slide class="slide1">
      <!-- <h1>Slide 1</h1> -->
      <ion-img style="width: 375px; height: 180px" src="https://blog.gotomalls.com/wp-content/uploads/2016/11/promo.png"></ion-img>
    </ion-slide>
    <ion-slide class="slide2">
      <ion-img style="width: 280px; height: 190px;" src="https://www.dianaferrari.com.au/Global/DIANA%20FERRARI/drop%20downs/WK20_Sale.jpg"></ion-img>
      <!-- <h1>Slide 2</h1> -->
    </ion-slide>
    <ion-slide class="slide3">
      <ion-img style="width: 280px; height: 190px" src="http://www.pngall.com/wp-content/uploads/2016/04/50-off-PNG-File.png"></ion-img>
      <!-- <h1>Slide 3</h1> -->
    </ion-slide>
  </ion-slides>

  <ion-fab right bottom>
    <button ion-fab (click)="addItem()">
      <ion-icon name="md-camera"></ion-icon>
    </button>
  </ion-fab>

  <div>
    <h3>Category</h3>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
